.launcher {    
  position: relative;
  width: 355px;
  text-align: center;
}

.app-launcher {
  position: relative;
  left: 0px;
  top: 0px;
}

.app-launcher-r {
   left: -275px;
}

.app-launcher-l {
   left: 13px; 
}


.app-launcher::before {
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0,0,0,.2);;
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -12px;
  z-index: 1;
}

.app-launcher-r::before {
    left: 93%;
}    

.app-launcher-l::before {
    left: 4%;
}    

.apps {
  position: relative;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  min-height: 196px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 355px;
  height: 396px;
  margin-bottom: 30px;
}

.launcher .button {
  cursor: pointer;
  width: 32px;
  font-size: 2em;
  color: black;
  margin: 0 auto;
}

.hide { display: none; }

.apps ul {
  background: #fff;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 28px;
  overflow: hidden;
  list-style: none;  
}

.apps ul li {
  float: left;
  height: 111px;
  width: 98px;
  color: black;
  padding: 10px 0;
  text-align: center;
}

.apps .app-launcher-more {
  line-height: 40px;
  text-align: center;
  display: block;
  width: 355px;
  background: #f5f5f5;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  color: #282828;
}

.apps.overflow .app-launcher-more {
  border-bottom: 1px solid #ebebeb;
  left: 28px;
  width: 264px;
  height: 0;
  cursor: default;
  height: 0;
  outline: none;
}

.app-launcher-even-more {
  line-height: 40px;
  text-align: center;
  display: block;
  width: 320px;
  background: #f5f5f5;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  color: #282828;
}

::-webkit-scrollbar-thumb {
 background-clip: padding-box;
 background-color: rgba(0,0,0,.3);
 border: 5px solid transparent;
 border-radius: 10px;
 min-height: 20px;
 min-width: 20px;
 height: 5px;
 width: 5px;
}

::-webkit-scrollbar {
 height: 14px;
 width: 14px;
 background: white;
}

::-webkit-scrollbar-button {
 height: 0;
 width: 0;
}

